## [Visual Studio]
.vs/
*.user
*.userosscache
*.sln.docstates

## [Build Results]
[Bb]in/
[Oo]bj/

## [Environment Secrets]
appsettings.json
appsettings.Development.json
*.pfx
*.cert
*.secret.json

## [User Secrets]
secrets.json

## [Rider/IntelliJ]
.idea/

## [VS Code]
.vscode/

## [OS Files]
[Tt]humbs.db
*.DS_Store

## [Others]
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.log
