## [Visual Studio]
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

## [Build Results]
[Bb]in/
[Oo]bj/
[Pp]ublish/
TestResults/

## [Environment Secrets]
# DO NOT commit real secrets. Use Environment Variables or User Secrets.
appsettings.json
appsettings.Development.json
*.pfx
*.cert
*.secret.json
secrets.json

## [Rider/IntelliJ]
.idea/

## [VS Code]
.vscode/

## [OS Files]
[Tt]humbs.db
*.DS_Store

## [Others]
*.cache
*.log
*.tmp
.heartbeat
.node_repl_history

## [Entity Framework]
*.db
*.db-shm
*.db-wal
